# Environment
.venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyc
*.lock

# Distribution
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Temporary files
*.log
*.tmp
*.swp

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Data files
*.tsv

# Draft
draft*